POSTGRES_DB=money_mind_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/money_mind_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
BOT_NAME=money_mind_app_bot
BOT_TOKEN=user_token