.title-text {
    font-family: 'Montserrat-Bold';
    font-size: 26px;
    color: white;
}

.header-text {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    color: white;
}

.main-text {
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    color: white;
    line-height: 1.6;
    margin: 0 auto;
    text-align: center;
}

.description-text {
    margin-top: 20px;
}

.error-text {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    color: red;
    text-align: center;
}

.error-messages {
    color: #ff3333;
    margin-bottom: 10px;
    font-family: 'Montserrat-Bold';
}

.personal-info-text {
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 24px;
}