<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/icon/money.ico">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/containers.css">
    <link rel="stylesheet" href="/css/text.css">
    <title>MoneyMind</title>
</head>
<body>
<div class="main-container">
    <div class="header-container">
        <div class="header-text-container">
            <div class="title-text"><a href="/">Money Mind</a></div>
            <div class="header-text">
                <a href="/transactions">Transactions</a>
            </div>
            <div class="header-text">
                <a href="/subscriptions">Subscriptions</a>
            </div>
            <div class="header-text">
                <a href="/notifications">Notifications</a>
            </div>
            <a class="header-logo" href="/profile">
                <img src="/img/account.svg" alt="profile-logo">
            </a>
        </div>
    </div>
    <div class="content-container">
        <div class="title-text">Your notifications</div>
    </div>
</div>
</body>
</html>