<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/icon/money.ico">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/containers.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile</title>
</head>
<body>
<div class="main-container">

    <div class="header-container">
        <div class="header-text-container">
            <div class="title-text"><a href="/">Money Mind</a></div>
            <div class="header-text">
                <a href="/transactions">Transactions</a>
            </div>
            <div class="header-text">
                <a href="/subscriptions">Subscriptions</a>
            </div>
            <a class="header-logo" href="/profile">
                <img src="/img/account.svg" alt="profile-logo">
            </a>
        </div>
    </div>

    <div class="summary-info-container">
        <div class="main-text">
            Welcome to your personal profile. On this page, you can update all the necessary information related to
            your profile. Modify your name, nickname, and any other details to keep your profile up-to-date. Make sure
            to save your changes after editing.
        </div>
    </div>

    <div class="content-container">
        <div class="profile-container">
            <div class="personal-info-text">Personal info</div>
            <div id="editErrorMessages" class="error-messages error-message-margin"></div>
            <div class="form-field">
                <label for="name">Full name:</label>
                <input type="text" id="name" name="name" th:value="${name}" placeholder="Enter your name" disabled>
            </div>
            <div class="form-field">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" th:value="${username}" placeholder="Enter your username" disabled>
            </div>
            <div class="form-actions">
                <button class="cta-button" id="editInfo">Edit info</button>
                <button class="cta-button" id="saveInfo" style="display:none;">Save changes</button>
            </div>
        </div>
        <button class="cta-button logout" id="logoutButton">Logout</button>

</div>
<script src="/js/jquery.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>