<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/icon/money.ico">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/containers.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/notifications.css">
    <link rel="stylesheet" href="/css/subscriptions.css">
    <link rel="stylesheet" href="/css/modal-window.css">
    <title>Subscriptions</title>
</head>
<body>
<div class="main-container">

    <div class="header-container">
        <div class="header-text-container">
            <div class="title-text"><a href="/">Money Mind</a></div>
            <div class="header-text">
                <a href="/transactions">Transactions</a>
            </div>
            <div class="header-text">
                <a href="/subscriptions">Subscriptions</a>
            </div>
            <a class="header-logo" href="/profile">
                <img src="/img/account.svg" alt="profile-logo">
            </a>
        </div>
    </div>

    <div class="summary-info-container">
        <div class="main-text">
            Welcome to your subscriptions hub, the place where you can interact with all of your subscriptions. If
            it is necessary you could connect your Telegram to get all the notifications about your subscriptions for
            different services.<br>If you want to get notifications through
            Telegram Bot, please start a conversation with him by this <a
                href="http://t.me/money_mind_notifications_bot">link</a>.
        </div>
        <div class="notification">
            <img src="/img/tg_icon.png" class="category-icon" alt="tg_icon">
            <div class="notification-title">Telegram</div>
            <button id="enableTelegram" class="cta-button notification-button-enable"
                    th:classappend="${notification.telegramEnabled} ? 'notification-enabled' : 'notification-disabled'"
                    th:text="${notification.telegramEnabled} ? 'Enabled' : 'Disabled'">
            </button>
        </div>
    </div>

    <div class="content-container">
        <div class="title-text">List of your subscriptions</div>
        <input type="text" class="search-field" id="search-input" placeholder="Search">
        <button class="cta-button add-subscription-button">Add subscription</button>
        <div class="table-header-container">
            <div class="main-text subscription-header-text">Title</div>
            <div class="main-text subscription-header-text">Amount</div>
            <div class="main-text subscription-header-text">Frequency</div>
            <div class="main-text subscription-header-text">Next Payment</div>
        </div>
        <div th:if="${noSubscriptions}" class="no-subscriptions">No subscriptions</div>
        <div class="subscription-container">
            <div class="subscription-card" th:each="subscription : ${subscriptions}">
                <div class="subscription-info">
                    <input type="hidden" th:value="${subscription.id}">
                    <div class="subscription-buttons">
                        <img src="/img/edit_icon.png"
                             class="category-icon subscription-icon left-icon-button edit-button"
                             alt="tg_icon">
                    </div>
                    <div class="subscription-text" th:text="${subscription.title}">Spirit Fitness</div>
                    <div class="subscription-text" th:text="'$' + ${subscription.formattedAmount}">$18.00</div>
                    <div class="subscription-text" th:text="${subscription.frequency}">Monthly</div>
                    <div class="subscription-text" th:text="${subscription.nextPayment}">2024-08-09</div>
                    <div class="subscription-buttons">
                        <img src="/img/delete_icon.png"
                             class="category-icon subscription-icon right-icon-button delete-button"
                             alt="tg_icon">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="addModal" class="modal">
        <div class="modal-content">
            <div class="header-modal">
                <h2>Add subscription</h2>
                <span class="close">&times;</span>
            </div>
            <div id="addErrorMessages" class="error-messages"></div>
            <form id="addForm" th:object="${subscription}">
                <div class="modal-field">
                    <label for="add-title">Title:</label>
                    <input type="text" id="add-title" name="title">
                </div>
                <div class="modal-field">
                    <label for="add-frequency">Frequency:</label>
                    <select id="add-frequency" name="frequency">
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Annually">Annually</option>
                    </select>
                </div>
                <div class="modal-field">
                    <label for="add-amount">Amount:</label>
                    <input type="number" id="add-amount" name="amount" value="0.00" step="0.01">
                </div>
                <div class="modal-field">
                    <label for="add-date">Date:</label>
                    <input type="date" id="add-date" name="nextPayment">
                </div>
                <button class="cta-button modal-button" type="submit">Save subscription</button>
            </form>
        </div>
    </div>

    <div id="editModal" class="modal">
        <div class="modal-content">
            <div class="header-modal">
                <h2>Edit subscription</h2>
                <span class="close">&times;</span>
            </div>
            <div id="editErrorMessages" class="error-messages"></div>
            <form id="editForm" th:object="${subscription}">
                <input type="hidden" id="edit-id" name="id">
                <div class="modal-field">
                    <label for="edit-title">Title:</label>
                    <input type="text" id="edit-title" name="title">
                </div>
                <div class="modal-field">
                    <label for="edit-frequency">Frequency:</label>
                    <select id="edit-frequency" name="frequency">
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Annually">Annually</option>
                    </select>
                </div>
                <div class="modal-field">
                    <label for="edit-amount">Amount:</label>
                    <input type="number" id="edit-amount" name="amount" value="0.00" step="0.01">
                </div>
                <div class="modal-field">
                    <label for="edit-date">Date:</label>
                    <input type="date" id="edit-date" name="nextPayment">
                </div>
                <button class="cta-button modal-button" type="submit">Save subscription</button>
            </form>
        </div>
    </div>

    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <div class="header-modal">
                <h2>Delete subscription</h2>
                <span class="close">&times;</span>
            </div>
            <div id="deleteErrorMessages" class="error-messages"></div>
            <input type="hidden" id="deleteId">
            <div class="button-delete-container">
                <h2>Are you sure you want to delete this subscription?</h2>
                <button class="cta-button" id="confirmDeleteButton">Yes</button>
                <button class="cta-button" id="cancelDeleteButton">No</button>
            </div>
        </div>
    </div>

</div>
<script src="/js/jquery.js"></script>
<script src="/js/notifications.js"></script>
<script src="/js/subscriptions/subscriptions-search.js"></script>
<script src="/js/subscriptions/subscriptions-modal-window.js"></script>
<script src="/js/subscriptions/subscriptions-handler.js"></script>
</body>
</html>